<div class="new-comment-form <%= pIndex %>">
  <h5><%= FictiousApp.currentUser.username %></h5>
  <form action="/posts/<%= post.id %>/comments" method="post">
    <input type="hidden" name="comment[post_id]" value="<%= post.id %>">
    <input type="hidden" name="comment[paragraph_index]" id="p-data">
    <textarea name="comment[content]" id="comment-content"></textarea>
    <input type="submit" value="Leave Comment">
  </form>

  <div id="<%= pIndex %>" class="comments-section">

  </div>

</div>
