<div class="content-wrapper">
  <header class="image-container-post">
    <img src="<%= post.get('image_url') %>">
    <h1 class="post-title"><%= post.escape('title') %> by <a href="/#/users/<%= post.get('author_id') %>"><%= post.get('author').username %></a></h1>
    <button class="button new-post-button white-button" id="find-posts-for-collection">Add To Collection</button>
    <% if(FictiousApp.currentUser == post.get('author_id')) { %>
      <a class="button edit-post-button white-button" href="/#/posts/<%= post.id %>/edit">Edit Post</a>
    <% } %>
    <div class="collection-list hidden">
      <div class="collection-list-container">
        <h5>Publish in a collection</h5>
        <ul>
          <% _(collections).each(function(collection) { %>
            <li><form class="add-to-collection" action="/api/collection_feeds" method="post">
              <input type="hidden" name="collection_feed[collection_id]" value="<%= collection.id %>">
              <input type="hidden" name="collection_feed[post_id]" value="<%= post.id %>">

              <button class="collection-button"><%= collection.title %></button>
            </form></li>
          <% }) %>
        </ul>
      </div>
    </div>

  </header>

  <div class="view-post-content">
    <div id="post-show-content">
      <p><%= post.get('content') %></p>
      <!-- render comment form -->
    </div>
    <div class="comments-new">

    </div>
    <% var likes = _(post.get('likes')).findWhere({ user_id: FictiousApp.currentUser, post_id: post.id }) %>

    <% if (likes !== undefined) { %>
      <form action="/likes/<%= likes.id %>" method="post" class='button unlike-post like-post-button'>
        <input type="submit" value="<%= post.get('likes').length %> | &hearts; Recommend">
      </form>
    <% } else { %>
      <form action="/posts/<%= post.id %>/likes" method="post" class="button like-post like-post-button">
        <input type="submit" value="<%= post.get('likes').length %> | &hearts; Recommend">
      </form>
    <% } %>

  </div>
</div>

<script>
$(document).ready(function() {
  $("#find-posts-for-collection").on("click", function() {
    $(".collection-list").toggleClass("hidden");
    $("#find-posts-for-collection").toggleClass("hidden");
  });

  var paras = $('#post-show-content').find('p');
  $.each(paras, function(i, val) {
    if($(val).hasClass('commentable')) {
      $(val).wrap('<div class="commentable-paragraph"></div>');
      $(val).parent().append('<div class="comment-caller hidden"></div>')
    }

    // COMMENTS WENT HERE
  });

  $('.commentable-paragraph').hover(function(event) {
    $($(event.currentTarget).find('div')).removeClass('hidden');
  }, function() {
    $('.comment-caller').addClass('hidden');
  });

  $('.comment-caller').on('click', function(event) {
    $('.view-post-content').toggleClass('moved');
    var commentClass = $(event.target).prev().attr('data-id')
    // $('.new-comment-form').toggleClass('hidden-comment');
    $('#comments').empty();

    // var y = ((event.pageY - $('#post-show-content').offset().top) / $('#post-show-content').outerHeight()) * 100;
    //
    // $('.new-comment-form').css({
    //   "left": 110 + "%",
    //   "top": y + "%"
    // });
    //
    // if ($('.new-comment-form').hasClass('hidden')) {
    //   $('.new-comment-form').css({
    //     "left": 0,
    //     "top": 0
    //   });
    // }

    // GET COMMENTS HERE
  });

  var targetPara = $(event.target).prev();
  var data = $(targetPara).attr('data-id');
  $('#p-data').attr('value', data);

});


</script>
