<section class="view-content profile-content">
  <div class="about">
    <%= image_tag @user.profile_picture.url(:regular), class: "profile-picture"%>
    <h1 class="username"><%= @user.username %></h1>

    <% if @subscription %>
      <form action="<%= subscription_url(@subscription.id) %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">

        <button class="button button-centered">Following</button>
      </form>
    <% else %>
      <form action="<%= user_subscriptions_url(current_user.id) %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="subscription[user_id]" value="<%= @user.id %>">

        <button class="button button-centered">Follow</button>
      </form>
    <% end %>
  </div>

  <div class="section-label">
    <h5>Latest</h5>
  </div>

  <ul class="posts-index profile-posts">
    <% @posts.each do |post| %>
      <li class="post-list">
        <a href="<%= post_url(post.id) %>">
          <h3><%= post.title %><h3>
          <h4><%= post.subtitle %></h4>

          <h5><%= post.author.username %></h5>
        </a>
      </li>
    <% end %>
  </ul>

  <div class="section-label">
    <h5>Collections</h5>
  </div>

  <ul class="clearfix">
    <% @collections.each do |collection| %>
      <div class="collections-list-container">
        <li>
          <a href="<%= collection_url(collection.id) %>">
            <img class="collection-small-image" src="<%= collection.collection_photo.url %>">
            <h5><%= collection.title %></h5>
          </a>
        </li>
      </div>
    <% end %>
  </ul>
</section>
