<div class="hidden-comment new-comment-form">
  <h5><%= current_user.username %></h5>
  <%= form_for @comment, url: post_comments_url(@post.id) do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.hidden_field :paragraph_index, id: "p-data" %>
    <%= f.text_area :content, id: "comment-content" %>
    <%= f.submit "Leave Comment" %>
  <% end %>


  <div id="comments">

  </div>

</div>
