<div class="hidden-comment new-comment-form">
  <h5><%= current_user.username %></h5>
  <form action="<%= post_comments_url(@post.id) %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="comment[post_id]" value="<%= @post.id %>">
    <input type="hidden" name="comment[user_id]" value="1">
    <input type="hidden" id="p-data" name="comment[paragraph_index]" value="">
    <textarea placeholder="Leave note..." id="comment-content" name="comment[content]" value="<%= current_user.id %>"></textarea>

    <button>Leave Comment</button>
  </form>

  <div id="comments">

  </div>

</div>
