

<%= form_for @user do |f| %>
  <%= f.label :profile_picture %><br>
  <%= f.file_field :profile_picture %><br>
  <%= f.label :username %><br>
  <%= f.text_field :username %><br>
  <%= f.label :email %><br>
  <%= f.text_field :email %><br>
  <%= f.label :password %><br>
  <%= f.password_field :password %><br>
  <%= f.submit "Create Account", class: "button" %><br>
  <a href="/auth/facebook" class="button facebook-button">Facebook Login</a>

<% end %>
