<header class="image-container-home collection">
  <img src="<%= collection.get('collection_photo_url') %>">
  <div id="view-collection" class="view-header view-collection">
    <h1><%= collection.get('title') %></h1>
    <nav class="home-nav">
      <ul class="clearfix">
        <li><a href="#">Top 100</a></li>
        <li></li>
      </ul>
    </nav>
  </div>
    <% if (collection.get('owner_id') !== FictiousApp.currentUser) { %>
      <% var user = FictiousApp.users.get(FictiousApp.currentUser) %>
      <% var subscription = FictiousApp.subscriptions.findWhere({ collection_id: collection.get('id'), subscriber_id: FictiousApp.currentUser }) %>
      <% if (subscription) { %>
        <form class="unfollow-collection" action="api/subscriptions/<%= subscription.id %>" method="post">
          <input type="hidden" name="subscription[collection_id]" value="<%= collection.get('id') %>">
          <input type="submit" value="Following Collection" class="button new-post-button">
        </form>
      <% } else { %>
        <form action="api/subscriptions" method="post" class="follow-collection">
          <input type="hidden" name="subscription[collection_id]" value="<%= collection.get('id') %>">
          <input type="submit" value="Follow Collection" class="button new-post-button">
        </form>
      <% } %>
    <% } else { %>
      <button class="button new-post-button white-button" id="find-posts-for-collection">Add To Collection</button>

      <div class="collection-list hidden">
        <div class="collection-list-container">
          <h5>Select Post</h5>
          <ul>
            <!-- List of posts goes here -->
          </ul>
        </div>
      </div>

      <a class="button edit-post-button white-button" href="/#/collections/<%= collection.id %>/edit">Edit Collection</a>
    <% } %>

</header>

<div class="view-content">
    <ul class="collection-posts posts-index">
      <% _(posts).each(function(post) { %>
        <% var user = FictiousApp.users.get(post.get('author_id')) %>
        <% var profilePic = user.get('profile_picture_url_thumb') %>
        <li class="post-list collection-post-list">
          <a href="#/posts/<%= post.id %>">
            <h2><%= post.get('title') %><h2>
            <h4><%= post.get('subtitle') %></h4>
            <img src="<%= profilePic %>">
            <h5><%= user.get('username') %></h5>
          </a>
        </li>
      <% }) %>
    </ul>
</div>


<script>
  $(document).ready(function() {
    $("#find-posts-for-collection").on("click", function() {
      $(".collection-list").toggleClass("hidden");
      $("#find-posts-for-collection").toggleClass("hidden");
    });

    $("#hide-collections").on("click", function() {
      $(".collection-list").addClass("hidden");
      $("#find-posts-for-collection").removeClass("hidden");
    });
  });
</script>
