<header class="image-container-home">

</header>

<div class="view-content">

  <%= form_for @post, url: post_url(@post.id) do |f| %>
    <%= f.file_field :image %><br>
    <%= f.text_field :title, placeholder: 'Title', class: 'title-input' %><br>
    <%= f.text_field :subtitle, placeholder: 'Subtitle' %><br>
    <%= f.hidden_field :content, id: 'content-input' %><br>
    <%= f.submit "Publish", class: 'button new-post-button', id: 'publish' %>
  <% end %>

  <div class="edit-bar">
    <ul class="clearfix">
      <li class="bold">Bold</li>
      <li class="italics">Italics</li>
      <li class="underline">Underline</li>
      <li class="undo">Undo</li>
    </ul>
  </div>
  
  <div id="content" contenteditable="true"><%= @post.content.html_safe %></div>
</div>

<script>
  $(document).ready(function() {
    $('#content').focus(function() {
      $('#content').mouseup(function() {
        if (window.getSelection()) {
          var test = window.getSelection().toString();
          if (test.length > 3) {
            $(".edit-bar").addClass('revealed');
            $(document.activeElement).addClass('styled');
            // $('#content').keydown(function(event) {
            //   if (event.keyCode == '66' && event.shiftKey) {
            //     event.preventDefault();
            //     var selected = '<strong>' + test + '</strong>';
            //     document.activeElement.innerHTML =
            //     document.activeElement.innerHTML.replace (test, selected);
            //     test = ''
            //   } else if (event.keyCode == '85' && event.shiftKey) {
            //     event.preventDefault();
            //     var selected = '<u>' + test + '</u>';
            //     document.activeElement.innerHTML =
            //     document.activeElement.innerHTML.replace (test, selected);
            //     test = ''
            //   }
            // });
            $('.bold').click(function() {
              var $element = $('#content').find('styled');
              console.log($element.prevObject[0].innerHTML);
              var selected = '<strong>' + test + '</strong>';
              $element.prevObject[0].innerHTML =
              $element.prevObject[0].innerHTML.replace (test, selected);
              $element.removeClass('styled');
              test = '';
              $('.edit-bar').removeClass('revealed')
            });

            $('.italics').click(function() {
              var $element = $('#content').find('styled');
              console.log($element.prevObject[0].innerHTML);
              var selected = '<em>' + test + '</em>';
              $element.prevObject[0].innerHTML =
              $element.prevObject[0].innerHTML.replace (test, selected);
              $element.removeClass('styled');
              test = '';
              $('.edit-bar').removeClass('revealed')
            });

            $('.undo').click(function() {
              var $element = $('#content').find('styled');
              console.log($element.prevObject[0].innerHTML);
              var selected = test;
              $element.prevObject[0].innerHTML =
              $element.prevObject[0].innerHTML.replace (test, selected);
              $element.removeClass('styled');
              test = '';
              $('.edit-bar').removeClass('revealed')
            });

            $('.underline').click(function() {
              var $element = $('#content').find('styled');
              console.log($element.prevObject[0].innerHTML);
              var selected = '<u>' + test + '</u>';
              $element.prevObject[0].innerHTML =
              $element.prevObject[0].innerHTML.replace (test, selected);
              $element.removeClass('styled');
              test = '';
              $('.edit-bar').removeClass('revealed')
            });
          } else if (test.length < 3 && $('.edit-bar').hasClass('revealed')) {
            $('.edit-bar').removeClass('revealed');
          }
        }
      });
    });

    $('#publish').hover(function() {
      var paragraphs = $('#content').find('p');
      var repeatData = _(paragraphs).filter(function(paragraph) {
        return $(paragraph).attr('data-id') === $(paragraph).prev().attr('data-id');
      });

      _(repeatData).each(function(paragraph) {
        $(paragraph).removeClass('commentable');
        $(paragraph).removeAttr('data-id');
      });

      _(paragraphs).each(function(paragraph) {
        if($(paragraph).hasClass('commentable') == false && $(paragraph).html() !== "<br>") {
          $(paragraph).addClass('commentable');
          $(paragraph).attr("data-id", (Math.random()*0xFFFFFF<<0).toString(16));
        } else if ($(paragraph).hasClass('commentable')) {
          if ($(paragraph).attr('data-id') === $(paragraph).prev().attr('data-id')) {
            console.log("Yup");
          }
        }
      });
      var content = $('#content').html();
      $("#content-input").removeAttr('value');
      $("#content-input").attr('value', content);
    });
  });
</script>
