<!-- <header class="image-container-home">

</header> -->

<div class="view-content">

  <div class="dropzone-previews preview-zone"></div>

  <%= flash[:errors].join('<br>').html_safe if flash[:errors] %>

  <%= form_for @post, url: user_posts_url(current_user.id) do |f| %>
    <%= f.file_field :image %><br>
    <%= f.text_field :title, placeholder: 'Title', class: 'title-input', tabindex: "1" %><br>
    <%= f.text_field :subtitle, placeholder: 'Subtitle', tabindex: "2" %><br>
    <%= f.hidden_field :content, id: 'content-input' %><br>
    <%= f.submit "Publish", class: 'button new-post-button', id: 'publish' %>
  <% end %>

  <div class="edit-bar">
    <ul class="clearfix">
      <li class="bold">Bold</li>
      <li class="italics">Italics</li>
      <li class="underline">Underline</li>
      <li class="undo">Undo</li>
    </ul>
  </div>

  <p class="editable" id="content" tabindex="3" contenteditable="true">Write your story</p>

<!-- <div class="editable"></div> -->

</div>

<script>
  $(document).ready(function() {
    Dropzone.options.newPost = {
      // headers: { “X-CSRF-Token” : $(‘meta[name=”csrf-token”]’).attr(‘content’) },
      paramName: "upload[image]", // The name that will be used to transfer the file
      previewsContainer: '.preview-zone',
      maxFilesize: 2, // MB
      accept: function(file, done) {
        done();
      }
    };
    var editor = new MediumEditor('.editable');

    $('#content').focus(function() {
      if ($('#content').text() === "Write your story") {
        $('#content').html('<p><br></p>')
      }
    });

    $('#content').focusout(function() {
      if ($('#content').text() === "") {
        $('#content').html('<p>Write your story</p>')
      }
    });

    var contents = $('#content').contents();
    $(contents).wrap('<p></p>')

    // $('#content').focus(function() {
    //   $('#content').mouseup(function() {
    //     if (window.getSelection()) {
    //       var sel = window.getSelection();
    //       var test = sel.toString();
    //       if (test.length > 3) {
    //         $(".edit-bar").addClass('revealed');
    //         $(window.getSelection().baseNode.parentElement).addClass('styled');
    //         // $(document.activeElement).addClass('styled');
    //
    //         $('.bold').click(function() {
    //           var $element = $('#content').find('.styled');
    //           var selected = '<strong>' + test + '</strong>';
    //           console.log(test);
    //           $element.prevObject[0].innerHTML =
    //           $element.prevObject[0].innerHTML.replace (test, selected);
    //           $element.removeClass('styled');
    //           test = '';
    //           $('.edit-bar').removeClass('revealed')
    //         });
    //
    //         $('.italics').click(function() {
    //           var $element = $('#content').find('.styled');
    //           var selected = '<em>' + test + '</em>';
    //           $element.prevObject[0].innerHTML =
    //           $element.prevObject[0].innerHTML.replace (test, selected);
    //           $element.removeClass('styled');
    //           test = '';
    //           $('.edit-bar').removeClass('revealed')
    //         });
    //
    //         $('.undo').click(function() {
    //           var $element = $('#content');
    //           var selected = test;
    //           console.log(selected);
    //           $element.prevObject[0].innerHTML =
    //           $element.prevObject[0].innerHTML.replace (test, selected);
    //           $element.removeClass('styled');
    //           test = '';
    //           $('.edit-bar').removeClass('revealed')
    //         });
    //
    //         $('.underline').click(function() {
    //           var $element = $('#content').find('.styled');
    //           var selected = '<u>' + test + '</u>';
    //           var string = $element.html()
    //           console.log("u", string.replace(test, selected));
    //           $element.prevObject[0].innerHTML =
    //           $element.prevObject[0].innerHTML.replace (test, selected);
    //           $element.removeClass('styled');
    //           test = '';
    //           $('.edit-bar').removeClass('revealed')
    //         });
    //       } else if (window.getSelection().toString().length < 3) {
    //         // console.log(window.getSelection());
    //         // $('#post_title').focus();
    //         // var $element = $('#content').find('.styled');
    //         // var selected = test;
    //         // $element.prevObject[0].innerHTML =
    //         // $element.prevObject[0].innerHTML.replace (test, test);
    //         // $element.removeClass('styled');
    //         // test = '';
    //         $('.edit-bar').removeClass('revealed');
    //       }
    //     }
    //
    //   });
    // });

    $('#publish').hover(function() {
      var paragraphs = $('#content').find('p');
      _(paragraphs).each(function(paragraph) {
        if($(paragraph).html() !== "<br>") {
          $(paragraph).addClass('commentable');
          $(paragraph).attr("data-id", (Math.random()*0xFFFFFF<<0).toString(16));
        } else if ($(paragraph).html() === "<br>") {
          $(paragraph).removeClass('commentable');
        } else {
          console.log("WHAT?")
        }
      });
      var content = $('#content').html();
      $("#content-input").attr('value', content);
    });


  });
</script>
