<!-- <header class="image-container-home">

</header> -->

<div class="view-content">
  <%= flash[:errors].join('<br>').html_safe if flash[:errors] %>

  <%= form_for @post, url: user_posts_url(current_user.id) do |f| %>
    <%= f.file_field :image %><br>
    <%= f.text_field :title, placeholder: 'Title', class: 'title-input' %><br>
    <%= f.text_field :subtitle, placeholder: 'Subtitle' %><br>
    <%= f.hidden_field :content, id: 'content-input' %><br>
    <%= f.submit "Publish", class: 'button new-post-button' %>
  <% end %>

  <p id="content" contenteditable="true">Write your story</p>
</div>

<script>
  $(document).ready(function() {

      $('#content').keyup(function() {
        var content = $('#content').html();
        $("#content-input").attr('value', content);
      });

      var contents = $('#content').contents();
      $(contents).wrap('<p></p>')

      $('#content').keypress(function(event) {
        if (event.which === 13) {
          var paragraphs = $('#content').find('p');
          $('p').find('span').remove();
          if($('#content p:last').prev().hasClass('commentable') == false && $('#content p:last').prev().html() !== "<br>") {
            $('#content p:last').prev().addClass('commentable');
            $('#content p:last').prev().attr("data-id", (Math.random()*0xFFFFFF<<0).toString(16));
          }
        }
      });


  });
</script>
