<div class="view-container">
<header class="image-container-home">
  <%= image_tag "http://s3.amazonaws.com/Fictious-dev/posts/images/000/000/002/original/13681949513_85b2cc7ff5_o.jpg?1403793056" %>
  <div class="view-header">
    <h1>Fictious</h1>
    <h3>A Medium clone for fiction</h3>
    <nav class="home-nav">
      <ul class="clearfix">
        <li><a href="/#/">Top 100</a></li>
        <li><a href="/#/feed">Reading List</a></li>
      </ul>
    </nav>
  </div>
  <a href="/#/posts/new" class="button new-post-button white-button">New Post</a>
  <a href="/#/" class="button new-post-button notifications-button white-button">
    <%= @notifications.count %>
  </a>
  <ul class="notifications hidden">
    <div class="notifications-container">
      <% if @notifications.count > 0 %>
        <% @notifications.each do |notification| %>
          <% if notification.notifiable_type == "GroupRequest" %>
            <li><h5><%= notification.content %></h5></li>
            <form action="<%= user_group_users_url(current_user.id) %>" method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="group_user[group_id]" value="<%= notification.content_id %>">

              <button>Accept Invitation</button>
            </form>
            <%= button_to "Decline Invitation", group_request_url(notification.content_id), method: :delete %>
          <% else %>
            <a class="note" data-id="<%= notification.id %>" href="<%= notification.url %>">
              <li><%= notification.content %></li>
            </a>
          <% end %>
        <% end %>
      <% else %>
        <li><h5>You have no new notifications</h5></li>
      <% end %>
    </div>
  </ul>
</header>

<div class="view-content posts-index home-page-content">
  <ul>
    <% @posts.each do |post| %>
      <li class="post-list">
        <a href="/#/posts/<%= post.id %>">
          <h3><%= post.title %><h3>
          <h4><%= post.subtitle %></h4>
          <%= image_tag post.author.profile_picture.url(:thumb), class: "profile-picture"%>
          <h5><%= post.author.username %></h5>
        </a>
      </li>
    <% end %>
  </ul>
</div>
</div>

<script>
  $(document).ready(function() {
    $(".notifications-button").on('click', function() {
      $(".notifications").toggleClass("hidden");

      $('#home')[0].click();
    });
  });
</script>
