<div class="content-wrapper">
<header class="image-container-post">
  <%= image_tag @post.image.url() %>
  <h1 class="post-title"><%= @post.title %> by <%= link_to @author.username, user_url(@author.id) %></h1>
</header>

<button class="button new-post-button" id="find-posts-for-collection">Add To Collection</button>
<% if current_user == @author %>
  <a class="button edit-post-button" href="<%= edit_post_url(@post.id) %>">Edit Post</a>
<% end %>

<div class="collection-list hidden">
  <div class="collection-list-container">
    <h5>Publish in a collection</h5>
    <ul>
      <% @collections.each do |collection| %>
        <li><form action="<%= post_collection_feeds_url(@post.id) %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="collection_feed[collection_id]" value="<%= collection.id %>">
          <input type="hidden" name="collection_feed[post_id]" value="<%= @post.id %>">

          <button class="collection-button"><%= collection.title %></button>
        </form></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="view-post-content">
  <div id="post-show-content">
    <p><%= @post.content.html_safe %></p>

  </div>

  <!-- DO LATER: GET THIS INTO THE SHOW CONTROLLER -->

  <% if Like.find_by(user_id: current_user.id, post_id: @post.id) || current_user == @author %>
    <form action="<%= post_likes_url(@post.id) %>" method="post" class='button like-post-button'>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <button disabled><%= @post.likes.count %> | &hearts; Recommend</button>
    </form>
    <hr>
    <form action="<%= user_subscriptions_url(@post.author_id) %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="subscription[user_id]" value="<%= @post.author_id %>">

      <button class="button">Follow User</button>
    </form>
  <% else %>
    <form action="<%= post_likes_url(@post.id) %>" method="post" class="button like-post-button">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <button><%= @post.likes.count %> | &hearts; Recommend</button>
    </form>
    <form action="<%= user_subscriptions_url(@post.author_id) %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="subscription[user_id]" value="<%= @post.author_id %>">

      <button class="button">Follow User</button>
    </form>
  <% end %>
</div>
</div>

<script type="application/json" id="bootstrapped_comments_json">
  { "comments": <%= @post.comments.to_json.html_safe %> }
</script>

<script>
  $(document).ready(function() {
    $("#find-posts-for-collection").on("click", function() {
      $(".collection-list").toggleClass("hidden");
      $("#find-posts-for-collection").toggleClass("hidden");
    });
    // 
    // $('.new_comment').on('submit', function(event) {
    //   event.preventDefault();
    //   alert("IN HERE")
    //
    //   var data = $(event.currentTarget).serializeJSON();
    //
    //   $.ajax({
    //     url: '/posts/<%= @post.id %>/comments',
    //     type: 'POST',
    //     data: data,
    //     success: function(data) {
    //       $('#comments').append(data);
    //     }
    //   });
    //   // $.post('/posts/' + <%= @post.id %> + '/comments', function(data) {
    //   //   console.log(data);
    //   // });
    // });

    var comments = [];

    var strappedComments = JSON.parse($("#bootstrapped_comments_json").html());
    _(strappedComments).each(function(com) {
      _(com).each(function(c) {
        comments.push(c);
      });
    });

    // FASTER COMMENTING
    // var commentObj = _(comments).groupBy('paragraph_index');

    var paras = $('#post-show-content').find('p');
    $.each(paras, function(i, val) {
      if($(val).hasClass('commentable')) {
        $(val).wrap('<div class="commentable-paragraph"></div>');
        $(val).parent().append('<div class="comment-caller hidden"></div>')
        $(val).append('<%= escape_javascript("#{render :partial => 'shared/comment_form' }").html_safe %>')
      }

      $('.new-comment-form').each(function(i, comForm) {
        var comId = $(comForm).parent().attr('data-id')
        $('.new-comment-form').find('.comment-form').attr('id', comId)
        $(comForm).addClass(comId);
        $(comForm).find('#p-data').attr('value', comId);
      });

      _(comments).each(function(comment) {
        if (comment.paragraph_index === $(val).attr('data-id')) {
          $.get('/comments/' + comment.id, function(userData) {
            console.log($(comment).parent())
            $('.' + comment.paragraph_index).append('<h5>' + userData.username + '</h5>' + comment.content + '<br>')
          });
        };
      });

    });

    $('.commentable-paragraph').hover(function(event) {
      $($(event.currentTarget).find('div')).removeClass('hidden');
    }, function() {
      $('.comment-caller').addClass('hidden');
    });

    $('.comment-caller').on('click', function(event) {
      console.log("TARGET", $(event.target).prev().attr('data-id'));
      $('.view-post-content').toggleClass('moved');
      var commentClass = $(event.target).prev().attr('data-id')
      $('.' + commentClass).toggleClass('hidden-comment');
      $('#comments').empty();

      // var y = ((event.pageY - $('#post-show-content').offset().top) / $('#post-show-content').outerHeight()) * 100;
      //
      // $('#new-comment-form').css({
      //   "left": 110 + "%",
      //   "top": y + "%"
      // });
      //
      // if ($('#new-comment-form').hasClass('hidden')) {
      //   $('#new-comment-form').css({
      //     "left": 0,
      //     "top": 0
      //   });
      // }

      // $.get('/posts/' + <%= @post.id %> + '/comments', function(data) {
        // _(comments).each(function(comment) {
        //   // console.log($(event.target).prev());
        //   if (comment.paragraph_index === $(event.target).prev().attr('data-id')) {
        //     $.get('/comments/' + comment.id, function(userData) {
        //       console.log(userData, comment)
        //       $('#comments').append('<h5>' + userData.username + '</h5>' + comment.content + '<br>')
        //     });
        //   };
        // });
      // });

      var targetPara = $(event.target).prev();
      var data = $(targetPara).attr('data-id');
      $('#p-data').attr('value', data);
    });

  });
</script>
