<h1>Home</h1>

<nav>
  <ul>
    <li><%= link_to "Top 100", root_url %></li>
    <li><%= link_to "Reading List", reading_list_url %></li>
  </ul>
</nav>
<ul>
  <% @posts.each do |post| %>
    <li><a href="<%= post_url(post.id) %>"><%= post.title %></a></li>
  <% end %>
</ul>

<% if logged_in? %>
  <%= link_to "Write a new story", new_user_post_url(current_user.id) %>
<% end %>
