<!DOCTYPE html>
<html>
<head>
  <title>FictiousApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="main-nav">
  <% if logged_in? %>
    <ul>
      <li><%= link_to 'Home', root_url %></li>
      <li><%= link_to current_user.username, user_url(current_user.id) %></li>
      <li><%= link_to 'Collections', user_collections_url(current_user.id) %></li>
      <li><%= link_to 'Subscriptions', user_subscriptions_url(current_user.id) %></li>
      <li><%= link_to 'Groups', user_groups_url(current_user.id) %></li>
      <li><a href="<%= notifications_url %>">You have <%= current_user.notifications.count %> notifications</a></li>
    </ul>
    <%= button_to 'Sign Out', session_url, method: :delete %>
  <% else %>
    <%= link_to 'Sign In', new_session_url %>
    <%= link_to 'Sign Up', new_user_url %>
  <% end %>
</nav>

<div class="content">
  <h1 class="home-button">F.</h1>
  <%= yield %>
</div>

<script>
  $(document).ready(function() {
    $(".home-button").on("click", function() {
      $(".content").toggleClass("slide-content")
      $(".main-nav").toggleClass("slide-out-nav")
    });
  });
</script>
</body>
</html>
