<!DOCTYPE html>
<html>
<head>
  <title>FictiousApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script>
    if (window.location.hash && window.location.hash == '#_=_') {
        window.location.hash = '';
    }
    window.FictiousApp.currentUser = <%= current_user.id if logged_in? %>
  </script>
</head>
<body>

<nav class="main-nav">
  <% if logged_in? %>
    <ul class="main-nav-container">
      <li id="home"><a href="/#/"><span class="home"></span>Home</a></li>
      <li>
        <a href="/#/users/<%= current_user.id %>">
          <span class="profile">
            <img src="<%= current_user.profile_picture(:thumb) %>">
          </span>
          <%= current_user.username %>
        </a>
      </li>
      <li><a href="/#/collections"><%= fa_icon "columns" %>Collections</a></li>
      <li><a href="/#/users/<%= current_user.id %>/subscriptions"><%= fa_icon "users" %>Subscriptions</a></li>
    </ul>
    <%= fa_icon "sign-out" %><%= button_to 'Sign Out', session_url, id: "sign-out", method: :delete %>
  <% else %>
    <%= link_to 'Sign In', new_session_url %>
    <%= link_to 'Sign Up', new_user_url %>
  <% end %>
</nav>

<div class="push">
  <div class="content">
    <h1 class="home-button">F.</h1>
    <div class="view-container">
      <%= yield %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $(".home-button").on("click", function() {
      $(".push").toggleClass("slide-content");
      $(".main-nav").toggleClass("slide-out-nav");


    });
  });
</script>
</body>
</html>
