<!DOCTYPE html>
<html>
<head>
  <title>FictiousApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script>
    window.FictiousApp.currentUser = <%= current_user.id if logged_in? %>
  </script>
</head>
<body>

<nav class="main-nav">
  <% if logged_in? %>
    <ul>
      <li><a href="/#/">Home</a></li>
      <li><a href="/#/users/<%= current_user.id %>"><%= current_user.username %></a></li>
      <li><a href="/#/collections">Collections</a></li>
      <li><a href="/#/users/<%= current_user.id %>/subscriptions">Subscriptions</a></li>
      <li><%= link_to 'Groups', user_groups_url(current_user.id) %></li>
    </ul>
    <%= button_to 'Sign Out', session_url, method: :delete %>
  <% else %>
    <%= link_to 'Sign In', new_session_url %>
    <%= link_to 'Sign Up', new_user_url %>
  <% end %>
</nav>

<div class="push">
  <div class="content">
    <h1 class="home-button">F.</h1>
    <%= yield %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $(".home-button").on("click", function() {
      $(".push").toggleClass("slide-content")
      $(".main-nav").toggleClass("slide-out-nav")
    });
  });
</script>
</body>
</html>
